* {
  margin: 0;
  font-family: 'Inter', sans-serif;
  /* overflow-x: hidden; */
}

html, body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(175, 40, 96, 0.8);
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background-color: #eee;
}


.offer-bar {
  display: flex;
  background-color: cyan;
  padding: 6px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.offer-bar > h4 {
  margin-left: 50vw;
  transform: translate(-50%);
}

.nav-bar {
  display: flex;
  background: rgb(2,0,36);
  background: linear-gradient(142deg, rgba(2,0,36,0.3) 0%, rgba(157,24,89,0.44) 37%, rgba(143,49,159,0.4) 57%, rgba(18, 61, 182, 0.4) 100%);
  padding: 10px 50px;
  align-items: center;
  text-align: center;
  max-width: 100vw;
  min-height: 40px;
  border-bottom: 1px solid;
  border-color: rgba(12, 12, 12, 0.26);
}

.nav-bar.mid-section {
  gap: 20px;
  margin-left: 44vw;
  transform: translate(-50%);
  background: none;
  border: none;
}

.nav-bar.right-section {
  position: absolute;
  padding: 0;
  gap: 20px;
  left: 95vw;
  transform: translate(-50%);
  background: none;
  border: none;
}

.navbar-link {
  text-decoration: none;
  color: rgb(92, 67, 67);
  transition: ease-in-out 0.1s;
}

.navbar-link > img {
  filter: brightness(0) saturate(100%) invert(27%) sepia(5%) saturate(2265%) hue-rotate(309deg) brightness(97%) contrast(94%);
  transition: ease-in-out 0.1s;
}

.navbar-link.sign-in {
  width: 100px;
}

.navbar-link-active.sign-in {
  width: 100px;
}

.navbar-link:hover {
  text-decoration: none;
  color: black;
}

.navbar-link-active {
  text-decoration: none;
  border-bottom: 3px double;
  padding-bottom: 5px;
  border-color: rgb(10, 109, 122);
  color: black;
}

.navbar-link-active > img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7499%) hue-rotate(244deg) brightness(101%) contrast(101%);
}

.navbar-link > img:hover {
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7499%) hue-rotate(244deg) brightness(101%) contrast(101%);
}

.item-cards {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  gap: 4vw 4vh;
  justify-content: center;
}

.item-card {
  width: 300px;
}

.homepage-carousel {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 700px;
  width: 100vw;
  margin-left: 50vw;
  transform: translate(-50%);
}

.slide {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-width: 600px;
  max-height: 600px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  transition: ease-in-out 0.1s;
}

.slide:hover {
  cursor: pointer;
  scale: 1.01;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  filter: drop-shadow(0px 0px 5px #555);
  transition: ease-in-out 0.06s;
}

.arrow:hover {
  cursor: pointer;
  scale: 1.1;
}

.homepage-carousel-left {
  left: 1rem;
}

.homepage-carousel-right {
  right: 2rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: black;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: white;
}

.register-form {
  display: flex;
  min-width: 550px;
  flex-direction: column;
  margin-top: 3vh;
  margin-left: 18vw;
  background: rgb(2,0,36);
  background: linear-gradient(142deg, rgba(2,0,36,0.3) 0%, rgba(157,24,89,0.44) 37%, rgba(143,49,159,0.55) 57%, rgba(0,212,255,0.66) 100%);
  gap: 40px;
  transform: translate(-50%);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px rgba(2,0,36, 0.5);
  padding: 20px;
}

.register-form > input {
  width: 370px;
  height: 40px;
  padding-left: 10px;
  border: none;
  border-bottom: 1.5px solid;
  border-color: rgba(86, 153, 209, 0.8);
  box-shadow: 2px 0px 5px rgba(57, 146, 197, 0.5);
  transition: ease-in-out 0.5s;
}
.register-form > input:focus {
  outline: none;
  border-color: green;
  box-shadow: 2px 0px 5px rgba(12, 165, 101, 0.5);
}

.create-account-button {
  cursor: pointer;
  background-color: rgb(155, 67, 15);
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 5px;;
  width: 370px;
  height: 50px;
}

.create-account-button:hover {
  background-color: rgb(134, 54, 8);
}

.login-google-button {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-width: 1px;
  background-color: white;;
  border-color: rgba(15, 15, 15, 0.507);
  border-radius: 5px;;
  width: 370px;
  height: 50px;
}

.register-page-logo {

  margin-left: 5vw;
  height: 800px;
  margin-top: 0;
}

.account-page-div {
  display: flex;
  margin-left: 10vw;
  margin-top: 5vh;
}

.account-page-sidelayout {
  display: flex;
  flex-direction: column;
  
}


.account-page-sidelayout-links-div {
  display: flex;
  flex-direction: column;
  gap: 10px 50px;
}

.account-sidelayout-link {
  text-decoration: none;
  color: rgb(92, 67, 67);
}

.account-sidelayout-link-active {
  text-decoration: none;
  padding-bottom: 5px;
  padding-right: 5px;
  scale: 1.05;
  color: black;
}

.account-page-sidelayout.routes {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.account-page-sidelayout.personal {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 20px;
}

.account-page-sidelayout.personal.links {
  margin-left: 40px;
  margin-top: 20px;
  gap: 10px;
}

.account-page-sidelayout.billing {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 20px;
}

.account-page-sidelayout.billing.links {
  margin-left: 40px;
  margin-top: 20px;
  gap: 10px;
}

.account-sidelayout-routes-link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.account-sidelayout-routes-link-active {
  text-decoration: none;
  padding-bottom: 5px;
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
}


.profile-form {
  display: flex;
  flex-direction: column;
  transform: translate(0);
  /* border: 3px solid rgba(0, 0, 0, 0.05); */
  padding: 50px 50px;
  transform: translate(0);
  transform-style: preserve-3d;
}

.profile-form::before {
  content:"";
  position: absolute;
  inset: 0;
  transform: translate3d(0,0,-0.5px);
  background: rgb(2,0,36);
  background: linear-gradient(142deg, rgba(2,0,36,0.3) 0%, rgba(157,24,89,0.44) 37%, rgba(143,49,159,0.55) 57%, rgba(0,212,255,0.66) 100%);
  filter: blur(10px);
  clip-path: polygon(-100vmax -100vmax,100vmax -100vmax,100vmax 100vmax,-100vmax 100vmax,-100vmax -100vmax,0 0,0 100%,100% 100%,100% 0,0 0);
}

.profile-form-input {
  width: 340px;
  height: 50px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  border: none;
  transition: ease-in-out 0.5s;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: rgba(193, 199, 201, 0.3);
}

.profile-form-input.username {
  width: 100%
}

.profile-form-input.email {
  width: 100%
}

.profile-form > button {
  margin-left: 70%;
  cursor: pointer;
  background-color: rgb(155, 67, 15);
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 5px;;
  width: 250px;
  height: 60px;
}

.account-sidelayout-logout-button {
  position:absolute;
  top: 90vh;
  border: none;
  width: 100px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(155, 15, 15);
  color: white;
  font-size: 1rem;
  border-radius: 5px;
}

