
.payment-details-page-div {
  display: flex;
  flex-direction: column;
  transform: translate(0);
  padding: 50px 200px;
  padding-bottom: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translate(0);
  transform-style: preserve-3d;
}

.payment-details-page-div::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translate3d(0, 0, -0.5px);
  background: rgb(2, 0, 36);
  background: linear-gradient(142deg, rgba(2, 0, 36, 0.3) 0%, rgba(157, 24, 89, 0.44) 37%, rgba(143, 49, 159, 0.55) 57%, rgba(0, 212, 255, 0.66) 100%);
  filter: blur(10px);
  clip-path: polygon(-100vmax -100vmax, 100vmax -100vmax, 100vmax 100vmax, -100vmax 100vmax, -100vmax -100vmax, 0 0, 0 100%, 100% 100%, 100% 0, 0 0);
}

.credit-card {
  width: 500px;
  height: 300px;
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  border-radius: 20px;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.dollar-emoji-one {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.dollar-emoji-two {
  position: absolute;
  top: 250px;
  left: 10;
  right: 20px;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.credit-card::before, .credit-card::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  width: 200px;
  height: 200px;
  top: -50px;
  left: -50px;
  z-index: 0;
  animation: float 6s ease-in-out infinite;
}

.credit-card::after {
  width: 300px;
  height: 300px;
  bottom: -100px;
  right: -100px;
  animation: float 10s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.card-chip {
  width: 60px;
  height: 45px;
  background: #d4af37;
  border-radius: 8px;
  margin-bottom: 20px;
  z-index: 1;
}

.card-info {
  flex: 1;
  z-index: 1;
}

.card-number {
  font-size: 1.6em;
  margin-bottom: 30px;
  letter-spacing: 2px;
  z-index: 1;
}

.card-holder, .card-expiry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.label {
  font-size: 0.9em;
  color: #fff;
  z-index: 1;
}

.name, .expiry-date {
  font-size: 1.2em;
  z-index: 1;
}

.card-footer {
  text-align: center;
  z-index: 1;
}

.unlimited-money {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 20px;
  z-index: 1;
  background: -webkit-linear-gradient(#ff6b6b, #ff8e53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.unlimited-money i {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 20px;
  z-index: 1;
  background: #09f515;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
}
